.Notfound__container {
  min-height: calc(100vh - 86px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Notfound__container > img {
  height: 80vh;
  /* object-fit: cover; */
}

@media screen and (max-width: 568px) {
  .Notfound__container > img {
    height: 50vh;
  }
}
